.sidebar {
  background-color: #174d58;
  color: white;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  position: sticky !important;
}

.main_container {
  display: flex;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: auto;
  z-index: 10;
}

.routes {
  color: white;
}

.top_section {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding: 15px 10px !important;
}

.logo {
  font-size: 1.3rem;
  line-height: 0;
}

.link {
  text-decoration: none;
  align-items: center;
  display: flex;
  color: white;
  gap: 10px;
  border-right: 4px solid white transparent;
  padding: 10px 16px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.bars {
  padding: 10px;
  width: 3px;
  cursor: pointer;
  margin-right: 10px;
}

.icon {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.link:hover {
  color: #174d58;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: #fff;
}

.active {
  color: #fff;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: #174d58;
}

.link_text {
  white-space: nowrap;
  font-size: 1rem;
}

.logout_section {
  margin-top: auto;
  padding: 10px 20px;
}
